.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-type{
    margin: 10px;
    padding: 10px;
    border: solid gray;
}

.grid {
    display: grid;
    grid-template-columns: 150px 100px;
}

.grid-item {
    border: gray solid;
    margin: 2px;
    padding: 2px;
}